
.highlight {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9pt; line-height: normal; font-weight: normal; color: #000066}
.biggy {  font-family: Arial, Helvetica, sans-serif; font-size: 12pt; line-height: normal; font-weight: bold; color: #000066}
.redish {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; line-height: normal; font-weight: normal; color: #FF3333}
.content a:{  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt; line-height: normal; font-weight: normal; color: #3366FF}
	a:link{  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt; line-height: normal; font-weight: normal; color: #3366FF}
	a:visited{  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt; line-height: normal; font-weight: normal; color: #3366FF}
	a:hover{  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt; line-height: normal; font-weight: normal; color: #FFFFFF; background-color: #3366FF}

.blues a:{  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; line-height: normal; font-weight: normal; color: #000066}
	a:link{  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; line-height: normal; font-weight: normal; color: #000066}
	a:visited{  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; line-height: normal; font-weight: normal; color: #000066}
	a:hover{  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; line-height: normal; font-weight: normal; color: #FFFFFF; background-color: #000066}

